@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #ffffff;
  --color-text: #0d0d0d;
}

.dark {
  --color-background: #0d0d0d;
  --color-text: #ffffff;
}

@layer base {
  html {
    font-family: 'Satoshi', sans-serif;
  }

  @font-face {
    font-family: 'Satoshi';
    src: url('/fonts/Satoshi-Regular.woff2') format('woff2'),
      url('/fonts/Satoshi-Regular.woff') format('woff'),
      url('/fonts/Satoshi-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: 'Satoshi';
    src: url('/fonts/Satoshi-Medium.woff2') format('woff2'),
      url('/fonts/Satoshi-Medium.woff') format('woff'),
      url('/fonts/Satoshi-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: 'Satoshi';
    src: url('/fonts/Satoshi-Bold.woff2') format('woff2'),
      url('/fonts/Satoshi-Bold.woff') format('woff'),
      url('/fonts/Satoshi-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }
}

@layer components {
  input,
  textarea {
    @apply font-medium focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-4 focus-visible:outline-grey-800 dark:focus-visible:outline-white-800;
  }

  label {
    @apply font-medium;
  }

  .btn {
    @apply rounded-sm px-6 py-4 text-md font-medium text-grey outline outline-2 outline-grey-800 transition-all hover:outline-offset-2 focus:outline-offset-2 disabled:cursor-not-allowed disabled:text-white-400 disabled:outline-white-400 hover:disabled:outline-offset-0 dark:text-white-700 dark:outline-white-400 disabled:dark:text-grey-400 disabled:dark:outline-grey-800;
  }
}

.blog-grid {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

@media screen and (min-width: 768px) {
  .nav-link {
    position: relative;
    font-weight: 500;
  }

  .nav-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    bottom: -4px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }

  .nav-link:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }

  .about-text::-webkit-scrollbar {
    width: 4px;
  }

  .about-text::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .about-text::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
  }

  .about-text::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
  }
}

/* tic tac toe styling */
.board-row:after {
  clear: both;
  content: '';
  display: table;
}
