@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Matter', sans-serif;
  scroll-behavior: smooth;
}

::-webkit-search-cancel-button {
  display: none;
}

@layer base {
  @font-face {
    font-family: 'Matter';
    src: url('../assets/fonts/Matter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Matter';
    src: url('../assets/fonts/Matter-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Matter';
    src: url('../assets/fonts/Matter-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
}

@layer components {
  .about-text-container {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  .about-text-container::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}
